@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');


:root {
    --nav-fixed-width: 200;
    --nav-fixed-tranform: -200;
    --header-height: 165;
    --content-primary-header-height: 400;
    --content-secondary-header-height: 100;
    --content-secondary-header-height-mobile: 60;
    --map-height: 250;        
    --footer-height: 255;

    --main-background: #FFF;
    --default-color: #313131;
    --placeholder-color: rgb(128, 128, 128);
    --main-color: hsl(0,0%,50%);      
    --main-border-color: #E9E9E9;  
    --primary-color: #48AAF0;
    --secondary-color: #5E5E5E;
    --nav-color: #343434;
    --nav-color-hover: #343434;
    --btn-primary-color: #48AAF0;
    --btn-primary-color-hover: #323465;
    --btn-secondary-color: #415c6e;

    --btn-secondary-color-hover: #323465;
    --nav-fixed-background: #F1F1F1;
    --active-color: #48AAF0;
    --header-background: #FFF;
    --footer-background: transparent;
    --body-background: #FFF;
    --shadow: 0 4px 30px rgba(135,135,135,.4);
    --shadow-hover: 0 4px 5px rgba(135,135,135,.4);
    --shadow-sm: 0 4px 10px rgba(135,135,135,.4);

    --skeleton-root: #EBEBEB;
    --skeleton-animation: linear-gradient(90deg, rgba(255,255,255, 0) 0, rgba(255,255,255, .2) 25%, rgba(255,255,255, .3) 50%, rgba(255,255,255, .2) 75%, rgba(255,255,255, .0) 100%);            
}


* { margin: 0;padding: 0;box-sizing: border-box;outline: 0 !important; }

a{ text-decoration: none!important;}

body { 
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--main-background)!important;        
    color: var(--main-color)!important;
    -webkit-font-smoothing: antialiased !important;
    overflow-y: scroll;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
}

.esconde { position: fixed;top: -9999px;left:0;text-indent: -99999px; }

.menu-topo a { display: inline-block;font-weight: bold;color:var(--nav-color);font-size: .875rem;margin: 0 10px;white-space: nowrap; }
.menu-topo a:last-child { margin-right: 0 !important; }
.menu-topo a:hover { color: var(--nav-color-hover); }
.menu-topo a.active { color: var(--active-color)!important; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: bold; }

#root { position: relative;overflow-x: hidden; } 

.header { width: 100%;min-height:165px;background-color:#FFF!important;z-index: 10;transition: transform .3s ease; }
.header.open { transform: translate(-200px,0); }
.header > div { height: 100%; }
.header .logo img { display: block;max-width: 180px;height: auto; }
.header .header-dados > div:last-child { border: 0;padding-right: 0 !important; }
.header .header-dados a { color: #a3a3a5;white-space: nowrap; }
.header .header-dados a.whats { position: relative;padding-left: 20px; }
.header .header-dados a.whats::before { position: absolute;top: 50%;left: 0;content: '';width: 16px;height: 16px;background: url('../public/img/whatsapp-topo.svg') no-repeat center center;background-size:cover;transform: translate(0,-50%); }
.header-fixed { position: fixed;top: 0;left: 0;width: 100%;z-index: 500;transform: translate(0,-100%);transition: transform .3s ease;background-color: #FFF; }
.header-fixed.show { transform: translate(0,0);box-shadow: 0 4px 10px rgba(135,135,135,.4); }
.header-fixed > div { height: 50px;transition: transform .3s ease; }
.header-fixed.open > div { transform: translate(-200px,0); }
.header-fixed .logo { max-width: 190px; }
.header-fixed .logo img { display: block;max-width: 110px;height: 40px;  }

.btn-menu { position: relative;color: var(--primary-color);padding-right: 30px;border: 0;background: transparent;outline: 0 !important; }
.btn-menu.primary { position: absolute;top: 0;right: 0; }
.btn-menu > div { position: absolute;top: 50%;right: 0;width: 20px;height: 20px;transform: translate(0,-50%); }
.btn-menu > div::before { position: absolute;top: 0;left: 0;content: '';width: 100%;height: 4px;background-color: var(--main-color);transition: transform .2s ease; }
.btn-menu.open > div::before { transform: translate(0,7px) rotate(45deg) }
.btn-menu > div span { position: absolute;top: 50%;left: 0;width: 100%;height: 4px;background-color: var(--main-color);transform: translate(0,-50%);transition: opacity .2s ease; }
.btn-menu.open  > div span { opacity: 0; }
.btn-menu > div::after { position: absolute;bottom: 0;left: 0;content: '';width: 100%;height: 4px;background-color: var(--main-color);transition: transform .2s ease; }
.btn-menu.open  > div::after { transform: translate(0,-9px) rotate(-45deg) }    

.menu-topo-fixed { position: fixed;top: 0;right: 0;width: var(--nav-fixed-width);height: 100%;background-color: var(--nav-fixed-background);transform: translate(100%,0);transition: transform .3s ease;z-index: 1000; }
.menu-topo-fixed.show { transform: translate(0,0); }
.menu-topo-fixed a { position: relative;color: #333;display: block;padding: 15px; }
.menu-topo-fixed a::before { position: absolute;top: 0;left: 0;content: '';width: 100%;height: 1px;background-color: rgba(255,255,255,0.7); }
.menu-topo-fixed a:first-child::before { display: none; }
.menu-topo-fixed a::after { position: absolute;bottom: 0;left: 0;content: '';width: 100%;height: 1px;background-color: rgba(0,0,0,0.1); }
.menu-topo-fixed a:last-child::after { display: none; }
.menu-topo-fixed a.active { color: #48AAF0; }

.main { transition: transform .3s ease;background-color: var(--body-background); }
.main.open { transform: translate(-200px,0); }

footer { position: relative !important;width: 100%;z-index: 10;transition: transform .3s ease; }
footer.open { transform: translate(-200px,0); }
.logo-rodape img { width: 160px; }
.logo-rodape a { margin: 0 !important; }
.footer-container { height: 255px; }
.footer-container a { color: #5e5e5e;margin: 0 20px; }
.footer-container .rodape { height: 65px;border-top: 1px solid #a3a3a5; }

.redes-sociais a { display: inline-block;width: 20px;height: 20px;text-indent: -9999px;background-size: cover !important; }
.redes-sociais a:hover { opacity: 0.8; }
.redes-sociais a.instagram { background: url('../public/img/instagram-footer.svg') no-repeat center center; }
.redes-sociais a.facebook { background: url('../public/img/facebook-footer.svg') no-repeat center center; }

.w-50 { width: 100% !important; }

.font-10 { font-size:.5675rem !important; }
.font-11 { font-size:.6875rem !important; }
.font-12 { font-size:.7825rem !important; }
.font-13 { font-size:.8125rem !important; } 
.font-14 { font-size:.875rem !important; }
.font-16 { font-size:1rem !important; }
.font-18 { font-size:1.125rem !important; }
.font-20 { font-size:1.25rem !important; }
.font-24 { font-size:1.5rem !important; }
.font-28 { font-size:1.75rem !important; }
.font-32 { font-size:2rem !important; }
.font-40 { font-size:2.5rem !important; }
.font-80 { font-size:5rem !important; }

.line-height-100 { line-height:100% !important; }
.line-height-110 { line-height:110% !important; }
.line-height-120 { line-height:120% !important; }
.line-height-130 { line-height:130% !important; }
.line-height-140 { line-height:140% !important; }
.line-height-150 { line-height:150% !important; }
.line-height-160 { line-height:160% !important; }
.line-height-170 { line-height:170% !important; }
.line-height-180 { line-height:180% !important; }

.scale-100 { transform:scale(1.0) }
.scale-110 { transform:scale(1.1) }
.scale-120 { transform:scale(1.2) }
.scale-130 { transform:scale(1.3) }
.scale-140 { transform:scale(1.4) }
.scale-150 { transform:scale(1.5) }
.scale-160 { transform:scale(1.6) }
.scale-170 { transform:scale(1.7) }
.scale-180 { transform:scale(1.8) }

.color-primary { color: #48AAF0 !important; }
.color-secondary { color: #5e5e5e !important; }
.color-active { color: #48AAF0 !important; }
.color-181 { color: #181818 !important; }
.color-5f5 { color: #5f5f5f !important; }
